<tr class="filterable">
	<td style="min-width:120px">
		{{#options.hasActions}}
<!-- 		<div class="btn-group">
		  <button type="button" class="btn btn-xs btn-info go">Actions</button>
		  <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-right">
		    {{#options.hasEdit}}<li><a href="javascript:void(0);" data-event="edit" data-id="{{start}}id{{end}}"><i class="fa fa-pencil"></i> Edit</a></li>{{/options.hasEdit}}
		    {{#options.hasDelete}}<li><a href="javascript:void(0);" data-event="delete" data-id="{{start}}id{{end}}"><i class="fa fa-times"></i> Delete</a></li>{{/options.hasDelete}}
		  </ul>
		</div> -->
		<input type="checkbox" {{start}}#checked{{end}}checked="checked"{{start}}/checked{{end}} data-event="mark" style="margin: 0 8px 0 4px;">&nbsp;<div class="btn-group">
    <button type="button" data-toggle="dropdown" class="btn btn-xs btn-info dropdown-toggle">Actions <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
		  <ul class="dropdown-menu">
		    {{#options.hasEdit}}<li><a href="javascript:void(0);" data-event="edit" data-id="{{start}}id{{end}}"><i class="fa fa-pencil"></i> Edit</a></li>{{/options.hasEdit}}

		    {{#options.events}}
		    	<li><a href="javascript:void(0);" data-event="{{name}}" class="custom-event" data-id="{{start}}id{{end}}">{{{label}}}</a></li>
		    {{/options.events}}

		    {{#options.hasDelete}}<li><a href="javascript:void(0);" data-event="delete" data-id="{{start}}id{{end}}"><i class="fa fa-times"></i> Delete</a></li>{{/options.hasDelete}}
		  </ul>
</div>
		{{/options.hasActions}}
	</td>
	{{#items}}
	{{#visible}}{{#isEnabled}}<td>{{{name}}}</td>{{/isEnabled}}{{/visible}}
	{{/items}}
</tr>