	<div class="well" style="background:#fff">
	<div style="height:40px">

		<div class="btn-group pull-right" style="margin-bottom:10px" role="group" aria-label="...">
			{{#showAdd}}
			<div data-event="add" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> New</div>
			{{/showAdd}}

			<div class="btn btn-default" name="bt-download"><i class="fa fa-download"></i></div>

			<div name="reset-search" class="btn btn-default">
				<i class="fa fa-filter"></i>
				<i class="fa fa-times text-danger" style="position: absolute;right: 5px;"></i>
			</div>
			<div class="btn-group" id="columnEnables">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <i class="fa fa-list"></i>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
			  	{{#items}}
			  	{{#visible}}
			    <li><label data-field="{{id}}" style="width:100%;font-weight:normal"><input type="checkbox" {{#isEnabled}}checked="checked"{{/isEnabled}} style="margin: 5px 0 5px 10px;"> {{label}}</label></li>
					{{/visible}}
			    {{/items}}
			  </ul>
			</div>

	

		</div>
		<div class="input-group" style="max-width:300px">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
				<input type="text" name="search" class="form-control" placeholder="Search">
			</div>


	</div>	
	<!-- <div class="paginate-footer" style="overflow:hidden"></div> -->
	<div class="table-container" style="width:100%;overflow:auto">
		{{#options.autoSize}}

		<table class="table table-bordered" style="margin-bottom:0px">

			<thead>
			<tr style="background:#fff;cursor:pointer" class="noselect">
				<th style="width: 120px;min-width:120px">Actions</th>

				{{#items}}{{#visible}}{{#isEnabled}}<th data-sort="{{cname}}"><h6 style="margin: 2px;font-size:13px;white-space: nowrap"><i class="fa fa-sort text-muted"></i> {{label}}</h6></th>{{/isEnabled}}{{/visible}}{{/items}}

			</tr>				
			<tr style="background:#fff;" class="filter">
				<th><div class="btn-group">
		  <button type="button" class="btn btn-sm btn-default go" data-event="select_all"> <i class="fa fa-lg fa-fw fa-square-o"></i></button>
		  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
		    {{#options.hasDelete}}<li><a href="javascript:void(0);" data-event="delete_all"><i class="fa fa-times"></i> Delete</a></li>{{/options.hasDelete}}
		  </ul>
		</div></th>				
		{{#items}}{{#visible}}{{#isEnabled}}<td data-inline="{{cname}}" style="min-width:85px" id="{{id}}"></td>{{/isEnabled}}{{/visible}}{{/items}}

			</tr>
		</thead>
		</table>
				{{/options.autoSize}}


<div style="min-height:100px">
	<table class="table table-bordered table-striped table-hover dataTable" style="margin-bottom:0px">
		{{^options.autoSize}}
					<thead>
			<tr style="background:#fff;cursor:pointer" class="noselect">
				<th style="width: 120px;min-width:120px">Actions</th>

				{{#items}}{{#visible}}{{#isEnabled}}<th data-sort="{{cname}}"><h6 style="margin: 2px;font-size:13px;white-space: nowrap"><i class="fa fa-sort text-muted"></i> {{label}}</h6></th>{{/isEnabled}}{{/visible}}{{/items}}

			</tr>				
			<tr style="background:#fff;" class="filter">
				<th><div class="btn-group">
		  <button type="button" class="btn btn-sm btn-default go" data-event="select_all"> <i class="fa fa-lg fa-fw fa-square-o"></i></button>
		  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
		    {{#options.hasDelete}}<li><a href="javascript:void(0);" data-event="delete_all"><i class="fa fa-times"></i> Delete</a></li>{{/options.hasDelete}}
		  </ul>
		</div></th>				
		{{#items}}{{#visible}}{{#isEnabled}}<td data-inline="{{cname}}" style="min-width:85px" id="{{id}}"></td>{{/isEnabled}}{{/visible}}{{/items}}

			</tr>
		</thead>
				{{/options.autoSize}}

		<tbody class="list-group">
			<tr><td>
				<div class="alert alert-info" role="alert">You have no items.</div>
			</td></tr>
		</tbody>

	</table>
</div>


</div>
	<div class="paginate-footer" style="overflow:hidden;margin-top:10px"></div>
<div>