	<div class="well" style="background:#fff">
	<div class="form"></div>
	<div>
<div class="dropdown" id="columnEnables" >
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <i class="fa fa-list"></i>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  	{{#items}}
    <li><label><input type="checkbox" data-field="{{id}}"  {{#isEnabled}}checked="checked"{{/isEnabled}} style="margin: 5px 0 5px 10px;"> {{label}}</label></li>
    {{/items}}
  </ul>
</div>


	</div>	
	<div class="paginate-footer" style="overflow:hidden"></div>
	<div class="table-responsive">
	<table class="table table-bordered table-striped table-hover dataTable">
		<thead>
			<tr style="background:#fff;cursor:pointer" class="noselect">
				<th style="width: 115px;">Actions</th>

				{{#items}}{{#visible}}{{#isEnabled}}<th data-sort="{{cname}}"><h6 style="margin: 2px;font-size:13px;white-space: nowrap"><i class="fa fa-sort text-muted"></i> {{label}}</h6></th>{{/isEnabled}}{{/visible}}{{/items}}

			</tr>				
			<tr style="background:#fff;" class="filter">
				<th><div class="btn-group">
		  <button type="button" class="btn btn-sm btn-default go" data-event="select_all"> <i class="fa fa-lg fa-fw fa-square-o"></i></button>
		  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
		    {{#options.hasDelete}}<li><a href="javascript:void(0);" data-event="delete_all"><i class="fa fa-times"></i> Delete</a></li>{{/options.hasDelete}}
		  </ul>
		</div></th>				
		{{#items}}{{#visible}}{{#isEnabled}}<td data-inline="{{cname}}" id="{{id}}"></td>{{/isEnabled}}{{/visible}}{{/items}}

			</tr>
		</thead>
		<tbody class="list-group">
			<tr><td>
				<div class="alert alert-info" role="alert">You have no items.</div>
			</td></tr>
		</tbody>
	</table>
</div>
	<div class="paginate-footer" style="overflow:hidden"></div>
<div>