<tr class="filterable">
	{{#items}}
	{{#visible}}<td>{{{name}}}</td>{{/visible}}
	{{/items}}
	<td style="min-width:100px">
		<div class="btn-group">
		  <button type="button" class="btn btn-xs btn-info go">Actions</button>
		  <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-right">
		    <li><a href="javascript:void(0);" data-event="edit" data-id="{{start}}id{{end}}"><i class="fa fa-pencil"></i> Edit</a></li>
		    <li><a href="javascript:void(0);" data-event="delete" data-id="{{start}}id{{end}}"><i class="fa fa-times"></i> Delete</a></li>
		  </ul>
		</div>
	</td>
</tr>